spring:
  datasource:
    url: jdbc:h2:file:./data/interviewdb
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  sql:
    init:
      mode: always

server:
  port: 8080
